#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    combos {
        compatible = "zmk,combos";

        IME_kana {
            bindings = <&kp LANG1>;
            key-positions = <20 19>;
        };

        IME_abc {
            bindings = <&kp LANG2>;
            key-positions = <15 16>;
        };

        escape {
            bindings = <&kp ESCAPE>;
            key-positions = <3 2>;
        };

        tab {
            bindings = <&kp TAB>;
            key-positions = <4 3>;
        };

        cmd_left {
            bindings = <&kp RG(LEFT_ARROW)>;
            key-positions = <15 14>;
        };

        cmd_right {
            bindings = <&kp RG(RIGHT_ARROW)>;
            key-positions = <20 21>;
        };
    };

    macros {
        bullet: copyBelow {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LANG2 &kp MINUS &kp SPACE &kp LANG1>;
            label = "COPYBELOW";
        };

        number_list: number_list {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LANG2 &kp NUMBER_1 &kp PERIOD &kp SPACE &kp LANG1>;
            label = "NUMBER_LIST";
        };

        h1: h1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LANG2 &kp HASH &kp SPACE &kp LANG1>;
            label = "H1";
        };

        h2: h2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LANG2 &kp HASH &kp HASH &kp SPACE &kp LANG1>;
            label = "H2";
        };

        h3: h3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LANG2 &kp HASH &kp HASH &kp HASH &kp SPACE &kp LANG1>;
            label = "H3";
        };

        h4: h4 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LANG2 &kp HASH &kp HASH &kp HASH &kp HASH &kp SPACE &kp LANG1>;
            label = "H4";
        };

        checkbox: checkbox {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LANG2 &kp MINUS &kp SPACE &kp LEFT_BRACKET &kp SPACE &kp RIGHT_BRACKET &kp SPACE &kp LANG1>;
            label = "CHECKBOX";
        };

        line: line {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LANG2 &kp MINUS &kp MINUS &kp MINUS &kp RETURN &kp LANG1>;
            label = "LINE";
        };

        slack_cmd: slack_cmd {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp COLON &kp AT_SIGN>;
            label = "SLACK_CMD";
        };
    };

    behaviors {
        screenshot: screenshot {
            compatible = "zmk,behavior-tap-dance";
            label = "SCREENSHOT";
            #binding-cells = <0>;
            bindings = <&kp LG(LS(N5))>, <&kp LG(LS(NUMBER_4))>;

            tapping-term-ms = <150>;
        };

        lt_tab: lt_tab {
            compatible = "zmk,behavior-hold-tap";
            label = "LT_TAB";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "balanced";
            hold-trigger-key-positions = <32 18 6 7 8 9 10 11 19 20 21 22 23 33 34 35 36 37 46 47 48 49 31 45 0 1 2 3 4 5>;
        };

        home_row_mt_left: home_row_mt_left {
            compatible = "zmk,behavior-hold-tap";
            label = "HOME_ROW_MT_LEFT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <100>;
            flavor = "balanced";
            hold-trigger-on-release;
            hold-trigger-key-positions = <6 6 7 8 9 10 11 18 19 20 21 22 23 32 33 34 35 36 37 46 47 48 49 31 45>;
        };

        home_row_mt_right: home_row_mt_right {
            compatible = "zmk,behavior-hold-tap";
            label = "HOME_ROW_MT_RIGHT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <100>;
            flavor = "balanced";
            hold-trigger-on-release;
            hold-trigger-key-positions = <0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 30 38 39 40 41 42 43 44>;
        };

        home_row_lt_right: home_row_lt_right {
            compatible = "zmk,behavior-hold-tap";
            label = "HOME_ROW_LT_RIGHT";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <100>;
            flavor = "balanced";
            hold-trigger-on-release;
            hold-trigger-key-positions = <0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 30 38 39 40 41 42 43 44>;
        };

        home_row_lt_left: home_row_lt_left {
            compatible = "zmk,behavior-hold-tap";
            label = "HOME_ROW_LT_LEFT";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <100>;
            flavor = "balanced";
            hold-trigger-on-release;
            hold-trigger-key-positions = <6 6 7 8 9 10 11 18 19 20 21 22 23 32 33 34 35 36 37 46 47 48 49 31 45>;
        };

        left_click: left_click {
            compatible = "zmk,behavior-hold-tap";
            label = "LEFT_CLICK";
            bindings = <&kp>, <&mkp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <100>;
            flavor = "balanced";
            hold-trigger-on-release;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&screenshot              &kp Q                  &kp W                  &kp E                         &kp R                         &kp T                             &kp Y                               &kp U                           &kp I                           &kp O                   &kp P          &kp LC(UP_ARROW)
&home_row_lt_left 7 SQT  &home_row_lt_left 5 A  &home_row_lt_left 4 S  &home_row_mt_left LEFT_ALT D  &home_row_mt_left LEFT_GUI F  &home_row_mt_left LEFT_CONTROL G  &home_row_mt_right RIGHT_CONTROL H  &home_row_mt_right RIGHT_GUI J  &home_row_mt_right RIGHT_ALT K  &home_row_lt_right 3 L  &kp MINUS      &kp SEMICOLON
&kp AT_SIGN              &kp Z                  &kp X                  &kp C                         &kp V                         &kp B                             &kp LA(LS(LEFT_ARROW))              &kp RA(RS(RIGHT_ARROW))         &kp N                           &kp M                   &kp COMMA      &kp PERIOD        &kp SLASH  &kp EQUAL
&kp LG(LC(Q))            &kp LA(L)              &kp LA(C)              &lt 6 LA(V)                   &lt 2 SPACE                   &kp BACKSPACE                     &kp LEFT_SHIFT                      &mt RIGHT_SHIFT ENTER           &kp F12                         &kp RG(RS(N))           &kp RG(RA(N))  &kp RG(RA(U))
            >;
        };

        layer_1 {
            bindings = <
&trans  &trans  &trans  &trans     &trans     &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &mkp RCLK  &mkp LCLK  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans     &trans     &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans     &trans     &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        layer_2 {
            bindings = <
&trans  &kp SLASH   &kp ASTERISK  &kp MINUS  &kp PLUS    &trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp NUMBER_5  &trans
&trans  &kp DOLLAR  &kp PERCENT   &kp COMMA  &kp PERIOD  &trans  &kp NUMBER_6  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp EQUAL     &trans
&trans  &trans      &trans        &trans     &trans      &trans  &trans        &trans        &trans        &trans        &trans        &trans  &trans  &trans
&trans  &trans      &trans        &trans     &trans      &trans  &trans        &kp NUMBER_0  &trans        &trans        &trans        &trans
            >;
        };

        layer_3 {
            bindings = <
&trans  &kp F4   &kp F3   &kp F2   &kp F1  &trans  &trans         &trans  &trans  &trans  &trans  &trans
&trans  &kp F8   &kp F7   &kp F6   &kp F5  &trans  &trans         &trans  &trans  &trans  &trans  &trans
&trans  &kp F12  &kp F11  &kp F10  &kp F9  &trans  &kp LG(PLUS)   &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans   &trans   &trans   &trans  &trans  &kp LG(MINUS)  &trans  &trans  &trans  &trans  &trans
            >;
        };

        layer_4 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &kp LEFT_BRACE        &kp RIGHT_BRACE        &slack_cmd        &kp PIPE           &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp TILDE         &kp GRAVE          &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans                &trans                 &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp AMPERSAND  &kp HASH  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &kp EXCLAMATION       &trans                 &trans            &trans             &trans
            >;
        };

        layer_5 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &kp RS(LEFT_ARROW)  &kp RS(DOWN_ARROW)  &kp RS(UP_ARROW)        &kp RS(RIGHT_ARROW)     &trans                &bt BT_CLR_ALL
&trans  &trans  &trans  &trans  &trans  &trans  &kp LEFT_ARROW      &kp DOWN_ARROW      &kp UP_ARROW            &kp RIGHT_ARROW         &trans                &bt BT_SEL 0
&trans  &trans  &trans  &trans  &trans  &trans  &trans              &trans              &kp RG(RS(LEFT_ARROW))  &kp RG(RS(DOWN_ARROW))  &kp RG(RS(UP_ARROW))  &kp RG(RS(RIGHT_ARROW))  &trans  &bt BT_SEL 1
&trans  &trans  &trans  &trans  &trans  &trans  &trans              &trans              &trans                  &trans                  &trans                &bt BT_SEL 2
            >;
        };

        layer_6 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        layer_7 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans   &trans        &trans  &trans     &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &bullet  &number_list  &line   &checkbox  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans   &trans        &h1     &h2        &h3     &h4  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans   &trans        &trans  &trans     &trans
            >;
        };
    };
};
